<%= javascript_include_tag 'validations_input_changes' %>

<div class='form-group'>
  <%= form.label :warranty_name %>
  <span class="error" id="warranty-name-error"><%= warranty.errors.messages_for(:warranty_name).last %></span>
  <%= form.text_field :warranty_name, id: 'warranty-name', class: 'form-control' %>
</div>

<div class='form-group'>
  <%= form.label :warranty_company %>
  <span class="error" id="warranty-company-error"><%= warranty.errors.messages_for(:warranty_company).last %></span>
  <%= form.text_field :warranty_company, id: 'warranty-company', class: 'form-control' %>
</div>

<div class='form-group'>
  <%= form.label :extra_info %>
  <span class="error" id="warranty-extra-info-error"><%= warranty.errors.messages_for(:extra_info).last %></span>
  <%= form.text_area :extra_info, id: 'extra-info', class: 'form-control' %>
</div>

<div class='form-group' style="max-width: 25%">
  <%= form.label :warranty_start_date %>
  <span class="error" id="warranty-start-error"><%= warranty.errors.messages_for(:warranty_start_date).last %></span>
  <%= form.date_field :warranty_start_date, id: 'start-date', class: 'form-control datepicker' %>
</div>

<div class='form-group' style="max-width: 25%">
  <%= form.label :warranty_end_date %>
  <span class="error" id="warranty-end-error"><%= warranty.errors.messages_for(:warranty_end_date).last %></span>
  <%= form.date_field :warranty_end_date, id: 'end-date', class: 'form-control datepicker' %>
</div>
