<% if !any_warranties.empty? %>
  <table class='container table'>
    <h3><%= title %></h3>
    <head>
      <tr class='row'>
        <th class='col'>Name</th>
        <th class='col'>Company</th>
        <th class='col' style='flex-grow: 2; text-align: center;'></th>
        <th class='col'>Start Date</th>
        <th class='col'>Expiration Date</th>
      </tr>
    </head>

    <body>
      <% any_warranties.each do |w| %>
        <tr class="row">
          <td class='col'><%= link_to w.warranty_name, w %></td>
          <td class='col'><%= w.warranty_company%></td>
          <td class='col' style='flex-grow: 2'><%= w.extra_info%></td>
          <td class='col'><%= w.warranty_start_date%></td>
          <td class='col'><%= w.warranty_end_date || 'Lifetime' %></td>
        </tr>
      <% end %>
    </body>
  </table>
<% elsif title == 'Current Warranties' %>
  <h3><%= title %></h3>
  <h5 class='my-deep-brown'>None! Try adding a new warranty...</h5>
<% end %>
