<%= render 'shared/flash_notice' %>

<div class='container my_container'>
  <div class="row row-col-1">
    <h3>Edit <%= @warranty.warranty_name %></h3>

    <%= form_with model: @warranty, class: 'warranty-form' do |form| %>
      <%= render form, warranty: @warranty %>
      <div id='buttons'>
        <%= link_to 'Back', "javascript:history.back()", class: 'btn btn-secondary' %>
        <%= form.submit class: 'btn btn-warning' %>
      </div>
    <% end %>
  </div>
</div>
