<!DOCTYPE html>
<html>
  <head>
    <title>FourTreeWarranty</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>

    <%= favicon_link_tag 'favicon32.ico' %>
  </head>

  <body>
    <div class='container'>
      <div class='row' style='margin-top: 1%;'>
        <div class='col-1'>
          <% if current_user %>
            <%= link_to image_tag('thisfoxcodes.png'), 'https://www.thisfoxcodes.com/', class: 'float-end' %>
          <% end %>
        </div>
        <div class='col-md'>
          <div class='row navBar'></div>
          <%= yield %>
        </div>
        <div class='col-1'>
          <% if current_user %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-warning signout float-end' %>
          <% end %>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </body>
</html>
